PORT=8080
DATA_DIR=/data
ALOCHAT_BASE_URL=https://<instancia>.alochat.com.br
ALOCHAT_API_KEY=
S3_ENDPOINT=https://s3.<region>.backblazeb2.com
S3_REGION=
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
APP_PASSWORD=
TZ=America/Fortaleza
